.title {
  font-size: 34px;
  font-weight: 600;
  padding: 10px 0px 0px 0px;
  position: relative;
  top: -30px;
}
.Subtitle {
  color: #2c5728;
  font-size: 20px;
  padding-bottom: 10px;
}
.titleAut {
  font-size: 16px;
}
.landingPic {
  padding: 20px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
}
.view {
  font-size: 12px;
  display: flex;
  justify-content: end;
  padding: 10px;
}
.listName {
  font-size: 12px;
  padding-left: 10px;
}
.css-46bh2p-MuiCardContent-root:last-child {
  padding: 10px !important;
}
