* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  background-color: #effaef !important;
  font-family: "Nunito Sans", sans-serif;
}
main {
  padding: 20px 25px;
  /* background: #ffffff; */
  margin: 20px;
  border-radius: 5px;
  /* position: absolute; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.HeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.sidebar {
  background-color: #ffffff;
  color: #4d8c52;
  height: 100vh;
  width: 300px;
  overflow-y: auto;
  /* box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.9); */
}

.top-section {
  display: flex;
  align-items: center;
  padding: 15px 5px;
  justify-content: flex-start;
  margin-top: 60px;
}
.logo {
  /* font-size: 25px; */
}
.largeLogo {
  display: block;
  cursor: pointer;
}

.logoLine {
  position: absolute;
  bottom: -75%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid #dedede;
  width: 80%;
}
.links {
  display: flex;
  color: #4d8c52;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.links:hover {
  background-color: #6abf71;
  color: #fff;
  transition: all 0.5s;
}
.active {
  background-color: #4d8c52;
  color: #ffffff;
}

.link-text {
  font-size: 15px;
  font-weight: 500;
}

.icon {
  font-size: 20px;
  padding: 10px;
}
.menuName {
  font-size: 16px;
  position: relative;
  top: -3px;
  left: 10px;
  /* color: #5b5b5b; */
  font-weight: 600;
}
.submenuName1 {
  padding: 10px 30px;
}

.menu {
  /* background-color: #ffffff; */
  /* color: rgb(0, 0, 0); */
}
/* .menu:hover {
  background-color: rgb(5, 179, 43);
  color: #000;
} */

.headerContainer {
  background-color: rgb(255, 255, 255);
  /* height: 5vh; */
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  margin: -5px 0px 0px -5px;
  padding-right: 7px;
}
.Headertext {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px;
  color: #5a5a5a;
  gap: 15px;
}
.cusor-pointer {
  cursor: pointer;
}
.avatarpic img {
  width: 30px;
}
.bodyContent {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  width: auto;
  height: auto;
  border-radius: 5px;
  overflow-y: auto;
  /* background-repeat: no-repeat;
    background-position: right bottom; */
  /* background-image: url("../component/BodyBg.png"); */
}
.icons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
.avatar {
  margin-right: 10px; /* Adjust the margin as needed */
}
.payrollText {
  /* position: relative;
  right: 370px; */
  font-weight: 600;
  font-size: 18px;
  /* color: ; */
}
.avatar-img {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the avatar circular */
  object-fit: cover; /* Ensure the image covers the entire container */
}

.smallLogo img {
  width: 40px;
  margin-left: -5px;
  margin-bottom: 10px;
}
.focus\:ring-indigo-600:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: #4d8c52 !important;
}
.active > .page-link,
.page-link.active {
  z-index: 3;
  color: var(--cui-pagination-active-color);
  background-color: #4d8c52 !important;
  border-color: #4d8c52 !important;
}
.form-check-input:checked {
  background-color: #4d8c52 !important;
  border-color: #4d8c52 !important;
}
.form-check-input[type="checkbox"]:indeterminate {
  background-color: #4d8c52 !important;
  border-color: #4d8c52 !important;
}

.form-control:focus {
  color: var(--cui-input-focus-color, var(--cui-body-color));
  background-color: var(--cui-input-focus-bg, var(--cui-body-bg));
  border-color: #4d8b52 !important;
  outline: 0;
  box-shadow: 0 0 0 0.2px rgb(77 140 31) !important;
}

/* PaySlip Page */
.cancelBtn {
  background-color: #d1d1d1 !important;
  color: #5d5d5d !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
  margin: 10px !important;
}

.cancelBtn:hover {
  background-color: #e6e4e4 !important;
  color: #5d5d5d !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
}
.saveBtn {
  background-color: #71a375 !important;
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
  margin: 10px !important;
  cursor: pointer;
}
.saveBtn:hover {
  background-color: #81b985 !important;
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
}
.saveBtn:disabled {
  background-color: #e6e4e4 !important;
  color: #b6b5b5 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
  margin: 10px !important;
  cursor: not-allowed !important;
}

.closeX {
  padding: 2px !important;
  font-weight: 600 !important;
  min-width: 30px !important;
  border-radius: 50px !important;
  /* color: #5d5d5d !important; */
}
.drawerTitle {
  /* color: #5b5b5b !important; */
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

/* globalStyles.css */
/* .MuiOutlinedInput-root fieldset {
  border-color: #3f9747;
  padding: 10px 10px;
}

.MuiOutlinedInput-root:hover fieldset {
  border-color: #3f9747;
}

.MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #2d5831;
} */

/* globalStyles.css */
/* .MuiOutlinedInput-root fieldset,
.MuiOutlinedInput-root.MuiOutlinedInput-multiline fieldset,
.MuiSelect-outlined.MuiSelect-outlined,
.MuiInputBase-input.MuiOutlinedInput-input {
  border-color: #3f9747;
}

.MuiOutlinedInput-root:hover fieldset,
.MuiOutlinedInput-root.MuiOutlinedInput-multiline:hover fieldset,
.MuiSelect-outlined.MuiSelect-outlined:hover,
.MuiInputBase-input.MuiOutlinedInput-input:hover {
  border-color: #3f9747;
}

.MuiOutlinedInput-root.Mui-focused fieldset,
.MuiOutlinedInput-root.MuiOutlinedInput-multiline.Mui-focused fieldset,
.MuiSelect-outlined.MuiSelect-outlined:focus,
.MuiInputBase-input.MuiOutlinedInput-input:focus {
  border-color: #2d5831;
} */

.CodeStar {
  color: #d30707;
}
.ErrorMsg {
  color: #d30707;
  font-size: 12px;
  display: flex;
  font-weight: 500;
  padding-left: 40px;
}
.Box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.Box {
  display: flex;
  justify-content: center;
  align-items: center;
}
